{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}


{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">詳細画面</h1>
      <p class="lead">ealps画面の詳細</p>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>名前:{{ object.name }}</p>
    <p>授業名:{% for item in object.classname %}
      <p>{{item}}</p>
      {% endfor %}
    </p>

    <p>時間:{{object.date}}</p>
    <a href="{% url 'result' object.pk %}" class="btn btn-primary btn active" role="button" aria-pressed="true">授業表示</a>
    <a href="{% url 'compare' object.pk %}" class="btn btn-danger btn active" role="button" aria-pressed="true">更新確認</a>
  </div>
</div>
{% endblock content %}

{% block content2 %}
<div class='container'>
  <div class="alert alert-success" role="alert">
    <p>過去の授業ページ:{% for item in object.oldcontent %}
      <p>{{item}}</p>
      {% endfor %}
    </p>
    
    
    <p>更新された授業ページ:{% for item in object.newcontent %}
      <p>{{item}}</p>
      {% endfor %}
    </p>
    
  </div>
</div>
{% endblock content2 %}
